<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables to display Data Science tools
- Perform arithmetic operations in Python

Some of the popular languages that Data Scientists use are: 
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

|Data Science Tools|
|-------------------|
|Jupiter Notebook|
|R Studio|
|Apache zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes into hours by diving by 60.
200/60

3.3333333333333335

## Author
'Strens'